.landing-container {
  height: 100%; 
}

.landing-image {
  background: url('https://github.com/laurawong/laurawong.github.io/blob/57f9a510ae184d2f0f3614efc078ecca455c6cda/src/images/me.JPG?raw=true');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .landing-header {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 5%;
    
    @media (min-width:600px)  {
      width: 25%;
      top: 20%;
    }

    @media (max-width:599px)  {
      width: 75%;
      top: 30%;
    }

    .landing-name {
      font-size: 50px;
      letter-spacing: 10px;
    }
  }

  .readMore-container {
    .readMore {
      margin-bottom: 0;
    }
    .arrow {
      padding-left: 27px;
    }
  }
}

.myWork-container {
  background: #9AD2CB;
  padding-left: 35px;

  .myWork-header {
    padding-top: 10px;
  }

  .myWork-body {
    width: 85%;
    font-size: 16px;
  }
}