.nav-ul {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0 30px 0 0;
  background-color: transparent;
  float: right;
}

.nav-li {
  display: inline;
  font-size: 20px;

  a {
    color: white;
    padding-right: 30px;
  }
}

li:last-child a {
  padding-right: 0px;

}
